<div id="main" class="sidebar-container">
    <div class="sidebar-header">
        <div class="">
            <img class="m-3" width="200" src="/logos/logo.png"/>
        </div>
    </div>
    <nav class="menu">
        <ul class="sidebar-menu metismenu" id="sidebar-menu">
            <li class="<% if(meta.mselect == 1){ %>active<% } %>">
                <a href="/dash">
                    <i class="fa fa-home"></i> Dashboard </a>
            </li>
            <li class="<% if(meta.mselect == 2){ %>active<% } %>">
                <a href="/profile">
                    <i class="fa fa-user"></i> Profile </a>
            </li>
            <li class="<% if(meta.mselect == 3){ %>active<% } %>">
                <a href="/alerts">
                    <i class="fa fa-bell"></i> Alerts </a>
            </li>
            <li class="<% if(meta.mselect == 4){ %>active<% } %>">
                <a href="/purchase-history">
                    <i class="fa fa-history"></i> Purchase History </a>
            </li>
            <hr/>
            <li class="<% if(meta.mselect == 5){ %>active<% } %>">
                <a href="/group-purchase">
                    <i class="fa fa-users"></i> Group Purchase </a>
            </li>
            <hr/>
            <li class="<% if(meta.mselect == 6){ %>active<% } %>">
                <a href="/gift-card">
                    <i class="fa fa-arrow-right"></i> Gift Food </a>
            </li>
            <li class="<% if(meta.mselect == 7){ %>active<% } %>">
                <a href="/share-credit">
                    <i class="fa fa-arrow-right"></i> Share Credit </a>
            </li>
            <li class="<% if(meta.mselect == 8){ %>active<% } %>">
                <a href="/buy-voucher">
                    <i class="fa fa-arrow-right"></i> Buy Voucher </a>
            </li>
            <li class="<% if(meta.mselect == 8){ %>active<% } %>">
                <a href="/buy-voucher">
                    <i class="fa fa-arrow-right"></i> Redeem a Gift Card </a>
            </li>
            <hr/>
            <li class="<% if(meta.mselect == 9){ %>active<% } %>">
                <a href="/settings">
                    <i class="fa fa-cog"></i> Settings </a>
            </li>
        </ul>
    </nav>
</div>
<footer class="sidebar-footer">
    <ul class="sidebar-menu metismenu" id="customize-menu">
        <li>
            <a href="javascript:void(0)">
                <i class="fa fa-code"></i>Druplay Code</a>
        </li>
    </ul>
</footer>