<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Green Food Hub</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Farm Market Place - Govafloo - Green Envelope">
    <meta name="keywords" content="market, food, green, crops, farmers, money, green envelope">
    <meta name="author" content="Revelation A.F">
    <!-- All CSS Files -->
    <link rel="shortcut icon" href="#" type="image/png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/fontawesome-all.css">
    <link rel="stylesheet" type="text/css" href="css/icofont.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.lineProgressbar.min.css">
    <link rel="stylesheet" type="text/css" href="css/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="css/responsiveslides.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>
<body class="dark-bg">
<!--loader-->
<div id="preloader">
    <div class="pre-img"><img src="image/logo/dummy-image.png" alt=""></div>
    <div class="loader">
        <div class="loader1 loaderch"></div>
        <div class="loader2 loaderch"></div>
        <div class="loader3 loaderch"></div>
        <div class="loader4 loaderch"></div>
        <div class="loader5 loaderch"></div>
        <div class="loader6 loaderch"></div>
        <div class="loader7 loaderch"></div>
        <div class="loader8 loaderch"></div>
        <div class="loader9 loaderch"></div>
        <div class="loader10 loaderch"></div>
        <div class="loader11 loaderch"></div>
        <div class="loader12 loaderch"></div>
    </div>
</div>
<!--loader-->
<div class="top-header hidden-xs hidden-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="top-item-left">
                    <ul>
                        <li><a href="#"><i class="fa fa-envelope"></i> info@greenfoodhub.com</a></li>
                        <li><a href="#"><i class="fa fa-phone"></i> +234 803 825 9656</a></li>
                        <li><a href="#"><i class="fa fa-clock-o"></i> Sat-Tru 10am-6pm</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="top-item-right">
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==== Header Start  ==== -->
<header id="pageHeader" class="header navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar"
                    aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar icon-bar-last"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="image/logo/dummy-image.png" alt="">
            </a>
        </div>
        <nav id="myNavbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#home">HOME</a></li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#service">SERVICES</a></li>
                <li><a href="#team">PRODUCTS</a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- ==== Header End ==== -->
<div id="home" class="main-header bg-opacity">
    <!-- main header -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-header-text">
                    <h2>Much more than hassle free and affordable<br>Access to quality food</h2>
                    <h3><i class="fa fa-hand-point-right"></i> <span class="element"></span></h3>
                    <a href="dash" class="active">Green Envelope</a>
                    <a href="#">Food Market Place</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /main header -->
</div>
<!-- ==== Main Banner service Strat ==== -->
<section class="header-service">
    <div class="container">
        <div class="row">
            <!-- Service Item -->
            <div class="col-md-4">
                <div class="serviceBox">
                    <div class="service-icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="service-content">
                        <h3>CONVENIENTLY AFFORDABLE</h3>
                        <p>
                            Get value by a combined convenience of online order with the cost savings of buying directly
                            from the farmer/food producer, and the health benefits of fresh, nutritious and healthy
                            food.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Service Item -->
            <div class="col-md-4">
                <div class="serviceBox">
                    <div class="service-icon">
                        <i class="fas fa-chart-line"></i>
                    </div>
                    <div class="service-content">
                        <h3>SCHEDULE FOOD DELIVERY </h3>
                        <p>
                            The easyBuy feature allows you to schedule food delivery once, based on your consumption
                            pattern, with the quantities/amount you want delivered at your chosen frequency
                        </p>
                    </div>
                </div>
            </div>
            <!-- Service Item -->
            <div class="col-md-4">
                <div class="serviceBox">
                    <div class="service-icon">
                        <i class="fas fa-sitemap"></i>
                    </div>
                    <div class="service-content">
                        <h3>SAVE COST WITH CollectiveBuy</h3>
                        <p>
                            Buy together, save cost together. The collectiveBuy feature is a collaborative purchase
                            approach unique to us that helps our members buy items together thereby enjoying purchase
                            economies of scale.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==== Main Banner service End ==== -->

<!-- ==== About Section Start ==== -->
<section id="about" class="about padding-top-120">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <div class="main-title">
                    <h1>About</h1>
                    <h4>About Us</h4>
                </div>
                <p class="col-md-8 col-md-offset-2">
                    The easyBuy feature allows you to schedule food delivery once, based on your consumption pattern,
                    with the quantities/amount you want delivered at your chosen frequency – weekly, monthly or
                    quarterly. You will receive your order according to your schedule and you don’t need to come to the
                    platform again, except your consumption pattern changes and you decide to add or change the items on
                    your list. This is not a subscription service so there is no fee. You only pay for what you order
                    and delivery charge. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="about-us-left">
                    <h4 class="about-title">SAVE MORE AND GET FOOD EVEN DURING A FINANCIAL CHALLENGE</h4>
                    <p>The coopBuy service guarantees a steady supply of food and lower pricing for members of a
                        cooperative. Members can buy food even when they don’t have money, and pay when salaries are
                        paid. Members must register under their cooperative account to enjoy this service. </p>
                    <div class="about-service">
                        <div class="col-md-4 col-sm-4">
                            <div class="about-service-icon">
                                <div class="about-item-icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="about-service-text">
                                    <h4>Quick Service</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="about-service-icon">
                                <div class="about-item-icon">
                                    <i class="fas fa-cog"></i>
                                </div>
                                <div class="about-service-text">
                                    <h4>Help</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="about-service-icon">
                                <div class="about-item-icon">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div class="about-service-text">
                                    <h4>Support</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="about-img">
                    <img src="image/about/dummy-image.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==== About Section End ==== -->

<!-- ==== Service Section Start ==== -->
<section id="service" class="service padding-top-120">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <div class="main-title">
                    <h1>Service</h1>
                    <h4>Our Best Services</h4>
                </div>
                <p class="col-md-8 col-md-offset-2"></p>
            </div>
        </div>
        <div class="row ">
            <div class="service-main margin-top-60">
                <div class="col-md-4">
                    <div class="serviceBox2">
                        <div class="service-img">
                            <img src="image/portfolio/image.jpg" alt="">
                        </div>
                        <div class="service-content2">
                            <span class="service-icon2">
                                <i class="fa fa-envelope"></i>
                            </span>
                            <h3 class="title2">SAVE MORE AND GET FOOD</h3>
                            <p class="description2">
                                The coopBuy service guarantees a steady supply of food and lower pricing for members of
                                a cooperative. Members can buy food even when they don’t have money, and pay when
                                salaries are paid.
                            </p>
                            <a href="/dash" class="read-more">My Account</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="serviceBox2 middle">
                        <div class="service-content2">
                            <span class="service-icon2">
                                <i class="fa fa-briefcase"></i>
                            </span>
                            <h3 class="title2">GIFTFOOD</h3>
                            <p class="description2">
                                Send food to your loved ones with a few clicks. Whether you have a challenge with
                                sending money home for food without food being purchased, or you want your loved ones to
                                access food more conveniently, this is just for you. Start now
                            </p>
                            <a href="/dash" class="read-more">My Account</a>
                        </div>
                        <div class="service-img">
                            <img src="image/portfolio/image_2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="serviceBox2">
                        <div class="service-img">
                            <img src="image/portfolio/image_3.jpg" alt="">
                        </div>
                        <div class="service-content2">
                            <span class="service-icon2">
                                <i class="fa fa-globe"></i>
                            </span>
                            <h3 class="title2">SAVE COST</h3>
                            <p class="description2">
                                Buy together, save cost together. The collectiveBuy feature is a collaborative purchase
                                approach unique to us that helps our members buy items together thereby enjoying
                                purchase economies of scale – save on unit cost of items.
                            </p>
                            <a href="/dash" class="read-more">My Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==== Service Section End ==== -->

<!-- ==== Pricing Section Start ==== -->
<section id="pricing" class="service padding-120">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <div class="main-title">
                    <h1>HOW IT WORKS</h1>
                    <h4>HOW IT WORKS</h4>
                </div>
                <p class="col-md-8 col-md-offset-2">Account Sign up and order placement</p>
            </div>
        </div>
        <div class="row">
            <div id="portfolio-slider" class="owl-carousel project-carousel">
                <div class="project-item">
                    <div class="box">
                        <img src="image/portfolio/1/acc.jpg" alt="">
                        <div class="box-content">
                            <div class="inner-content">
                                <h3 class="title">My Account</h3>
                            </div>
                            <a href="" class="btn btn-success">Login Now</a>
                        </div>
                    </div>
                    <div class="project-description">
                        <h4>Account Sign Up</h4>
                        <p>You must create a secure sign in credentials to use the platform</p>
                    </div>
                </div>
                <div class="project-item">
                    <div class="box">
                        <img src="image/portfolio/1/mrk.jpg" alt="">
                        <div class="box-content">
                            <div class="inner-content">
                                <h3 class="title">Food Centre</h3>
                            </div>
                            <a href="" class="btn btn-success">Visit Now</a>
                        </div>
                    </div>
                    <div class="project-description">
                        <h4>Food Center</h4>
                        <p>Join a food centre to access the centre’s storefront to make orders on the platform</p>
                    </div>
                </div>
                <div class="project-item">
                    <div class="box">
                        <img src="image/portfolio/1/order.jpg" alt="">
                        <div class="box-content">
                            <div class="inner-content">
                                <h3 class="title">Oder Placement</h3>
                            </div>
                            <a href="" class="btn btn-success">Place Order</a>
                        </div>
                    </div>
                    <div class="project-description">
                        <h4>Oder Placement</h4>
                        <p>You can now place orders for any food item you want from your food centre’s storefront </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==== Pricing Section End ==== -->

<!-- ==== Counter Section Start ==== -->
<section id="counter" class="padding-60">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <div class="main-title">
                    <h1>OUR PAYMENTS</h1>
                    <h4>OUR PAYMENTS</h4>
                </div>
                <p class="col-md-8 col-md-offset-2"></p>
            </div>
        </div>
        <div class="row ">
            <div class="service-main ">
                <div class="col-md-4 col-sm-6">
                    <div class="serviceBox2">
                        <div class="service-content2 counter-div">
                            <div class="counter-item-inner counter-item-text">
                                <i class="fa fa-dollar" aria-hidden="true"></i>
                                <h4>Voucher Purchase</h4>
                                <p>
                                    Payment is with a food voucher. This way, farmers receive payment without a bank
                                    account and you save on payment processing fees which sellers can’t absolve due to
                                    the lower pricing given here.
                                    <br>
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="serviceBox2">
                        <div class="service-content2 counter-div">
                            <div class="counter-item-inner counter-item-text">
                                <i class="fa fa-gear" aria-hidden="true"></i>
                                <h4>Voucher Management</h4>
                                <p>
                                    With the green envelope application, you can manage your vouchers with ease in one
                                    place. Simply add vouchers to your envelope at the point of purchase and buy food
                                    without having to remember voucher codes.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="serviceBox2">
                        <div class="service-content2 counter-div">
                            <div class="counter-item-inner counter-item-text">
                                <i class="fa fa-money-bill-alt" aria-hidden="true"></i>
                                <h4>Pay for food</h4>
                                <p>
                                    You can enter your phone number to pay from your green envelope or enter a voucher
                                    code to pay. You need the easyBuy voucher to schedule food deliveries.
                                    Note: the voucher service and green envelope has separate terms and condition
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ==== Counter Section End ==== -->

<!-- ==== Banner Section Start ==== -->
<section class="padding-60 bg-request bg-opacity">
    <div class="container">
        <div class="row">
            <div class="work-with text-center">
                <h4>Are you ready now ?</h4>
                <p>Simply add vouchers to your envelope at the point of purchase and buy food without having to remember
                    voucher codes. You can check your voucher balances, add more vouchers and send voucher units to
                    friends.</p>
                <a href="/dash">My Green Envelope</a>
            </div>
        </div>
    </div>
</section>
<!-- ==== Banner Section End ==== -->

<!-- ==== Team Section Start ==== -->
<section id="team" class="padding-top-120">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <div class="main-title">
                    <h1>Top Farmer</h1>
                    <h4>Find products related</h4>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="image/user/dummy-image.jpg" alt="">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Food Center</h3>
                        <span class="post">Raw Materials</span>
                    </div>
                    <ul class="social">
                        <a href="#" class="btn btn-success">Go Market</a>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="image/user/dummy-image.jpg" alt="">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Food Center</h3>
                        <span class="post">Raw Materials</span>
                    </div>
                    <ul class="social">
                        <a href="#" class="btn btn-success">Go Market</a>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="image/user/dummy-image.jpg" alt="">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Food Center</h3>
                        <span class="post">Raw Materials</span>
                    </div>
                    <ul class="social">
                        <a href="#" class="btn btn-success">Go Market</a>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="image/user/dummy-image.jpg" alt="">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Food Center</h3>
                        <span class="post">Raw Materials</span>
                    </div>
                    <ul class="social">
                        <a href="#" class="btn btn-success">Go Market</a>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ==== Team Section End ==== -->

<!-- ==== Contact Section Start ==== -->
<section id="contact" class="padding-top-120 map_contact_form">
    <div class="map_section">
        <!--== Contact  map  ==-->
        <div id="map" class="thumbnail "></div>
    </div>
    <div id="contactUs">
        <div class="container">
            <div class="row contact-bg">
                <div class="contact-team">
                    <div class="col-md-3 col-sm-5">
                        <div class="contact-address">
                            <div class="contact-service-icon">
                                <div class="contact-item-icon">
                                    <i class="fas fa-home"></i>
                                </div>
                                <div class="contact-service-text">
                                    <h4>Address</h4>
                                    <p>Nigeria, Nigeria</p>
                                </div>
                            </div>
                            <div class="contact-service-icon">
                                <div class="contact-item-icon">
                                    <i class="fas fa-globe"></i>
                                </div>
                                <div class="contact-service-text">
                                    <h4>Website</h4>
                                    <p>example.com</p>
                                </div>
                            </div>
                            <div class="contact-service-icon">
                                <div class="contact-item-icon">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div class="contact-service-text">
                                    <h4>Phone</h4>
                                    <p>+112233445566</p>
                                </div>
                            </div>
                            <div class="contact-service-icon">
                                <div class="contact-item-icon">
                                    <i class="fas fa-at"></i>
                                </div>
                                <div class="contact-service-text">
                                    <h4>E-mail</h4>
                                    <p>example@domain.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-7 col-md-offset-1">
                        <div class="contact-form">
                            <form class="contact-form">
                                <h4>Contact Us</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name"
                                                   placeholder="Type Your Name...">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="name"
                                                   placeholder="Type Your E-mail...">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="form-control" placeholder="Message..."></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <button class="btn submit-btn">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==== Contact Section End ==== -->

<!-- ==== Footer Section Start ==== -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 footer-logo">
                <a class="" href="#">
                    <img src="image/logo/dummy-image.png" alt="">
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-links">
                <h5 class="footer-title">Usefull Links</h5>
                <ul class="footer-link">
                    <li><a href="#"><i class="fas fa-angle-double-right"></i> Home</a></li>
                    <li><a href="#"><i class="fas fa-angle-double-right"></i> About</a></li>
                    <li><a href="#"><i class="fas fa-angle-double-right"></i> Service</a></li>
                    <li><a href="#"><i class="fas fa-angle-double-right"></i> Works</a></li>
                    <li><a href="#"><i class="fas fa-angle-double-right"></i> Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-news">
                <h5 class="footer-title">Newsfeeds</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
                <div class="newsletter">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Your email Address"
                               aria-label="Search for..." autocomplete="off">
                        <span class="input-group-btn">
                      <button class="btn newsletter-btn" type="button"><i
                                  class="fa Example of paper-plane fa-paper-plane"></i></button>
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 footer-tweets">
                <h5 class="footer-title">Recent tweets</h5>
                <div class="recent-tweets">
                    <div class="tweet-img">
                        <a href="#"><img src="image/blog/dummy-image.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <div class="tweet-text">
                        <a href="#"><p>Lorem ipsum dolor sit</p></a>
                        <p>26 March 2018</p>
                    </div>
                </div>
                <div class="recent-tweets">
                    <div class="tweet-img">
                        <a href="#"><img src="image/blog/dummy-image.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <div class="tweet-text">
                        <a href="#"><p>Lorem ipsum dolor sit</p></a>
                        <p>26 March 2018</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-down">
    <div class="container">
        <div class="row text-center">
            <div class="copyright-text">
                <p>© Copyright 2018. All Rights Reserved. Designed by <a class="footer-team" href="http://druplay.com">Druplay
                        Code</a></p>
            </div>
        </div>
    </div>
</div>
<!-- ==== Footer Section End ==== -->

<!-- All JS Here -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.parallax-1.1.3.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/isotope.js"></script>
<script src="js/particles.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/responsiveslides.js"></script>
<script src="js/jquery.lineProgressbar.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/typed.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZtTj2tvwsorp_DNPh3ZN_pMlSniet5h4&callback=initMap">
</script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/masonry.pkgd.js"></script>
<script src="js/tweetie.js"></script>
<script src="js/main.js"></script>
</body>
</html>