<!doctype html>
<html class="no-js" lang="en">
<head>
    <!--partial head-->
    <% include ./partials/head.ejs %>
</head>

<body>
<div class="auth">
    <div class="auth-container">
        <div class="card">
            <header class="auth-header">
                <img class="m-3" width="180" src="/logos/logo.png"/>
            </header>
            <div class="auth-content">
                <p class="text-center"><%=info.message%></p>
                <form id="login-form" action="/login" method="post" novalidate="">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="email" class="form-control underlined" name="email" id="username"
                               placeholder="Your email address" required></div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control underlined" name="password" id="password"
                               placeholder="Your password" required></div>
                    <div class="form-group">
                        <label for="remember">
                            <input class="checkbox" id="remember" type="checkbox">
                            <span>Remember me</span>
                        </label>
                        <a href="/reset-psw" class="forgot-btn pull-right">Forgot password?</a>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-primary">Login</button>
                    </div>
                    <div class="form-group">
                        <p class="text-muted text-center">Do not have an account?
                            <a data-turbolinks-action="replace" href="/register">Sign Up!</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
        <% if (config.login){ %>
        <div class="text-center">
            <a href="index.html" class="btn btn-secondary btn-sm">
                <i class="fa fa-arrow-left"></i> Back to dashboard </a>
        </div>
        <% } %>
    </div>
</div>
<!-- Reference block for JS -->
<div class="ref" id="ref">
    <div class="color-primary"></div>
    <div class="chart">
        <div class="color-primary"></div>
        <div class="color-secondary"></div>
    </div>
</div>

<!--partial foot-->
<% include ./partials/foot.ejs %>
</body>
</html>