<!doctype html>
<html class="no-js" lang="en">
<head>
    <% include ./partials/head.ejs %>
</head>
<body>
<div class="auth">
    <div class="auth-container">
        <div class="card">
            <header class="auth-header">
                <img class="m-3" width="250" src="/logos/logo.png"/>
            </header>
            <div class="auth-content">
                <p class="text-center">PASSWORD RECOVER</p>
                <p class="text-muted text-center">
                    <small>Enter your email and acc. no to recover your password.</small>
                    <small><%-info%></small>
                </p>
                <form id="reset-form" action="" method="post" novalidate="">
                    <div class="form-group">
                        <label for="email1">Email</label>
                        <input type="email" class="form-control underlined" name="email" id="email1"
                               placeholder="Your email address" required></div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="email1">Account No.</label>
                            <input type="text" class="form-control underlined" name="account" id="email1"
                                   placeholder="Your account no." required></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-primary">Reset</button>
                        </div>
                        <div class="form-group clearfix">
                            <a class="pull-left" href="/login">return to Login</a>
                            <a class="pull-right" href="/register">Sign Up!</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Reference block for JS -->
<div class="ref" id="ref">
    <div class="color-primary"></div>
    <div class="chart">
        <div class="color-primary"></div>
        <div class="color-secondary"></div>
    </div>
</div>
<script src="/js/vendor.js"></script>
<script src="/js/app.js"></script>
</body>
</html>